<div class="col-12 justify-content-center">
    <div style="opacity: 0.9; margin-left: 17.5%; margin-right: 17.5%;" class="text-center p-2 mt-5 rounded-lg border border-Secondary bg-light" >
      <div class="text-center"><img class="sbmuLogo" src="/photo/sbmu.png" alt=""></div>
      <h2 class="text-center font-weight-bold">ابتکارات و تجربیات بهره وری</h2>
      <h3 class="text-center font-weight-bold">دانشگاه علوم پزشکی شهید بهشتی</h3>
      <br><br>
      رابط محترم
      <span>بیمارستان شهدای تجریش</span>
      خوش آمدید
    </div>
  </div>
